<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <h3 class="text-center">{{ data.title }}</h3>
                        <hr>
                        <div class="mb-2" *ngIf="validToken && data.error == null">
                            <p class="text-center text-inverse">Escolha uma nova senha</p>
                            <form [formGroup]="recoverForm" (ngSubmit)="updatePassword($event)">
                                <input formControlName="email" type="hidden" class="form-control">
                                <input formControlName="token" type="hidden" class="form-control">
                                <div class="input-group mb-1" [ngClass]="{'has-danger has-feedback':validation('password')}">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input
                                    validateEqual="password_confirmation" reverse="true"
                                    [ngClass]="{'form-control-danger':validation('password')}" formControlName="password" type="password" class="form-control" placeholder="Senha">
                                </div>
                                <show-error
                                    [name]="'senha'" [input]="recoverForm.controls['password']" >
                                </show-error>

                                <div [ngClass]="{'has-danger has-feedback':validation('password_confirmation')}" class="input-group mb-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                    <input
                                    validateEqual="password" [ngModel]="password_confirmation"
                                    [ngClass]="{'form-control-danger':validation('password_confirmation')}"
                                    formControlName="password_confirmation" type="password" class="form-control" placeholder="Repitir senha">
                                </div>
                                <show-error
                                    [name]="'confirmação de senha'" [input]="recoverForm.controls['password_confirmation']" >
                                </show-error>

                                <div class="row">
                                    <div class="col-6">
                                        <button [routerLink]="['/login']" class="btn btn-primary" type="button">
                                            <i class="fa fa-chevron-circle-left fa-lg m-t-2"></i> login
                                        </button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <button [disabled]="!recoverForm.valid && !progress" type="submit" class="btn btn-primary"> Enviar <i class="fa fa-send fa-lg m-t-2"> </i> </button>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div *ngIf="data.error !== null">
                            <h4 class="{{ data.error == null ? 'text-default' : data.error ? 'text-danger' : 'text-success'}} text-center mb-2"> <i class="icon-info icons font-5xl d-block m-t-2"></i></h4>
                            <p class="text-center text-inverse">{{ data.message }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <button [routerLink]="['/login']" class="btn btn-primary" type="button">
                                        <i class="fa fa-chevron-circle-left fa-lg m-t-2"></i> login
                                    </button>
                                </div>
                                <div class="col-6 text-right">
                                    <button [routerLink]="['/sing-up']" class="btn btn-primary" type="button">
                                        registrar <i class="fa fa-chevron-circle-right fa-lg m-t-2"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-inverse p-1">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-center text-inverse"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
